@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    color: white;
    .header-container {
        display: flex;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .hamburger span {
        height: 2px;
        margin: 7px 0;
        background-color: #ffffff;
        display: none;
        &:nth-child(1) {width: 15px;}
        &:nth-child(2) {width: 30px;}
        &:nth-child(3) {width: 15px;}
    }

    .logo {
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
        transition: color .2s ease-in-out;
        span {
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            color: #1ABC9C;
        }
    }
    nav {
        margin-left: auto;
        width: 45%;
        ul {
            display: flex;  
            padding: 0 40px;
            font-weight: 500;
            justify-content: space-between;
            align-items: center;
        }
        li.sign-in a {
            padding: 5px 20px;
            color: white;
            background: none;
            border: 2px solid white;
            border-radius: 5px;
            outline: 0;
        }

        li.close-menu {
            display: none;
        }

        &.scrolled {
            color: black;
            .logo path {
                fill: black;
            }
        }
    }
}

.introduction {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url('https://mcdn.wallpapersafari.com/medium/11/52/YxRayv.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
    }
    .content {
        z-index: 1;
        display: flex;
        padding: 0 40px;
        color: white;
        text-align: center;
        flex-direction: column;
    }
    .title {
        margin-bottom: 3rem;
        font-size: 3.3rem;
        font-weight: 700;
        text-transform: uppercase;
        .subtitle {
            padding-bottom: 10px;
            font-weight: 300;
            font-size: 1.3rem;
            text-transform: none;
        }
    }
    
    .action-button {
        padding: 15px 30px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        border: none;
        outline: 0;
        background: #0785F3;
        transition: box-shadow 0.5s ease-in-out;
        &:hover {
            box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        .header-container {
            width: 90%;
        }
        .hamburger span {
            display: block;
        }
        &.open nav {
            display: block;
        }
    }
    .logo {
        display: none;
    }
    header nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 50%;
        height: 100vh;
        background: white;
        color: black;
        justify-content: center;
        ul {
            height: 70%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            font-weight: 600;
        }
        li {
            &.sign-in a {
                border: none;
                color: black;
                padding: 0;
            }
            &.close-menu {
                display: block;
            }
            &:not(:last-child):not(:first-child) {
                // border-bottom: 1px solid darkgray;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    header {
        .header-container {
            width: 95%;
        }
        nav {
            width: 65%
        }
    }
    .introduction .title {
        font-size: 40px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1060px) {
    header {
        .header-container {
            width: 95%;
        }
        nav {
            width: 55%;
        }
    }
}

@media only screen and (min-width: 1061px) and (max-width: 1400px) {

    header {
        .header-container {
            width: 95%;
        }
        nav {
            width: 50%;
        }
    }
}
  
  